h1 {
  margin: 9px;
}
h2 {
  margin: 15px auto;
}
header p {
  margin-bottom: 36px;
}
p {
  color: rgb(0, 0, 0);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  margin: 15px auto;
}
a {
  background-color: rgb(167, 1, 78);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(167, 1, 78);
  border-radius: 8px;
  padding: 12px;
}

a:hover {
  text-decoration: none;
  background-color: rgb(180, 12, 90);
}
ol {
  list-style: none;
  width: 600px;
  margin: 0 auto 30px auto;
  padding: 0;
}
li {
  background-color: pink;
  color: rgb(87, 87, 87);
  border-radius: 8px;
  margin: 30px auto 30px auto;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#main-text {
  color: rgb(0, 0, 0);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 30px;
}
